.secoes {
    padding: 1rem;
    box-sizing: border-box;
}

.acordeon {
    position:sticky;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border: 2px solid var(--quarta-cor);
    border-radius: 1rem;
}

.acordeon.open,
.acordeon:hover {
    background: var(--segunda-cor);
    border-color: var(--segunda-cor);
    transition: .5s ease-in-out;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    padding: 1rem 2rem;
    background-color: transparent;
    outline: none;
    color: var(--branco);
    border: none;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    margin-top: 8px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-image: url('../icons/seta\ para\ cima.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: 2s ease-in-out;

}


.acordeon .content {
    opacity: 0;
    height: 0;
    transition-duration: 1000ms;

}

.content .language li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    font-size: 1.5rem;
}

.content .language {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.content .language li::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-image: url('../icons/check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;

}


/* Acordeon quando estiver aberto */

.acordeon.open .trigger::after {

    transform: rotateX(-180deg);
    margin-top: 0;

}

.acordeon.open .content {
    display: inline-block;
    padding: 20px;
    opacity: 100%;
    height: 100%;
    transition-duration: 2s;
}

@media (min-width: 768px) {
    .acordeon {
        width: 60%;
    }
}