* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    padding: 1rem;
}


.material-symbols-outlined {

    color: #504070;
    font-variation-settings:
        'FILL' 100,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24;
        padding-bottom: 2px;

}

.material-symbols-outlined.location {

      font-variation-settings:
      'FILL' 1,
      'wght' 200,
      'GRAD' -25,
      'opsz' 20;
      padding-top: 6px

}


.material-symbols-outlined.telephone {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20;
  padding-top: 6px
}

.material-symbols-outlined.mail {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' -25,
  'opsz' 20;
  padding-top: 6px;

}
