* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h2 {
    margin: 1rem;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ol.pokemons {
    display: grid;
    grid-template-areas:
        "bulbasaur ivysaur"
        "venusaur charmander"
        "charmaleon charizard"
        "squirtle wartortle"
        "blastoise pikachu";
    margin: 0;
    padding: 0;
    list-style: none;
} */

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #46d1b2;
    color: white;
}

.pokemon .details img {
    width: 110px;
    max-width: 100%;
}

/* Estilização do número */ 
.number {
    display: flex;
    color: #14A06F;
    justify-content: flex-end;
}